{% extends "base.html.twig" %}
{% block titulo %}Productos - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ include('menu.html.twig', { 'seccionActual': "/productos" }) }}
{% endblock %}

{% block body %}
<div class = "container">
    <strong>Producto borrado</strong>
</div>
{% endblock %}
