{% extends "base.html.twig" %}
{% block titulo %}Productos - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ include('menu.html.twig', { 'seccionActual': "/productos" }) }}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
<div class = "container">
 <h1>Nuestro catálogo</h1>
    <ul>
        {% for producto in productos %}
          {{ include('unicoProducto.html.twig', { 'producto': producto }) }}
        {% else %}
            <li>No hay productos</li>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('producto_nuevo') }}">Añadir producto</a></p>
    {% endif %}
</div>
</br></br>
</br></br>
{% endblock %}

