{% extends "base.html.twig" %}
{% block titulo %}Servicios - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ include('menu.html.twig', { 'seccionActual': "/servicios" }) }}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
  </ol>
</nav>

<div class = "container">
 <h1>Servicios</h1>
 <br>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <h3 class="title">Reparaciones</h3>
                        <p class="description">
                           Si el artículo no está en garantía, ya no es necesario que lo sustituyas. Si prefieres repararlo porque te gusta mucho o porque no es el mejor momento para cambiarlo por otro, acércate a una de nuestras tiendas y nosotros trataremos de reparártelo.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <h3 class="title">Envíos</h3>
                        <p class="description">
                            Una vez confirmado su pedido, nuestro servicio de atención al cliente se pondrá en contacto con usted para confirmar el día de entrega, o fijar otra fecha y hora en caso de indisponibilidad. Las estregas podrán hacerse tanto en horario de mañana; de 09:00h a 15:00h como de tarde; de 15:00h a 20:00h.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-handshake"></i>
                        </div>
                        <h3 class="title">Garantía</h3>
                        <p class="description">
                            Gracias a este servicio, te aseguras un correcto funcionamiento de tu equipo durante un total de 3 ó 5 años: Dos años de garantía legal más uno o tres años de garantía extra, según la opción elegida. Es decir, disfrutarás de tu compra durante más tiempo, y ¡sin sobresaltos!
                        </p>
                    </div>
                </div>
            </div>

</div>

</br></br>
</br></br>
{% endblock %}
