{% extends "base.html.twig" %}
{% block titulo %}Servicios - {{ parent() }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
  </ol>
</nav>


</br></br>
</br></br>
{% endblock %}
